<div class="row mt-5 justify-content-end">
    <div class="col-6 col-md-4">
        <form name="frm">
            <div class="input-group">
                <input type="text" name="query" class="form-control" value="자바" />
                <button class="btn btn-danger">검색</button>
            </div>
        </form>
    </div>
</div>

    <hr />
    <!-- 카카오 도서검색 결과를 출력할 공간 마련해둠 -->
    <div class="row" id="list_book"></div>
    <!-- 카카오 도서검색 결과를 출력할 공간 마련해둠 -->

<div class="text-center mt-2">
    <button class="btn btn-primary btn-sm px-5" id="prev">이전</button>
    <span id="page" class="px-3">1/10</span>
    <button class="btn btn-primary btn-sm px-5" id="next">다음</button>
</div>

<script>
    //사용자가 입력한 키워드 가져오기
    let query = $(frm.query).val()
    let page = 1

    //도서 데이터 가져오기
    const getList = () => {
        console.log(`page=${page}`, `query=${query}`)
        $.ajax({
            method: "GET",
            url: "https://dapi.kakao.com/v3/search/book?target=title",
            headers: { Authorization: "KakaoAK bf56a7a88829f13ba8fef4e0ed4c2aeb" },
            data: { query: query, page: page, size: 10 },
            dataType: "json",

            success: function (data) {
                console.log(data)
                // 마지막 페이지 체크
                let is_end = data.meta.is_end // false 책이 더 있어, true : 마지막 페이지가 맞다.
                // 검색 가능한 데이터 수
                let total = data.meta.total_count // 자바의 경우 5006
                // 마지막 페이지 번호는 얼마야?
                let last = Math.ceil(total/10)
                console.log(`is_end: ${is_end}, total: ${total}, last: ${last}`)
            }
        });
    }
    getList()
    //검색창에서 입력한 책 제목 읽어오기
    
    $(frm).on('submit', (e) => {
        e.preventDefault()
        query = $(frm.query).val()
        page = 1
        getList()
    })

</script>