<div class="row my-5">
    <div class="col">
        <%-include("book/bookList.ejs") %> <!-- 도서목록 -->
        <br />
        <%-include("book/bestBook.ejs") %> <!-- 베스트 도서목록 -->
        <br />
        <%-include("book/recentBook.ejs") %> <!-- 최근 도서목록 -->
    </div>
</div>

<!-- 
class="row my-5"
- class="row" : 부트스트랩 프레임워크에서 지원하는 그리드 시스템
row는 그리드의 한 행을 정의하며, 내부에 있는 열을 정렬함.
주로 화면을 구분하고 배치를 잡는데 사용함.

- my-5 : 부트스트랩의 마진 클래스임, 상담과 하단의 5단위의 간격을 추가합니다.
: 기본단위가 0.5rem

- class = col: 열 클래스임
부모 요소의 
-->